  // Colors

    // Primary

    $DarkPurple: hsl(274, 82%, 60%);
    $LightPurple: hsl(285, 100%, 92%);
    $DarkRed: hsl(0, 100%, 66%);

    // Neutral

    $DarkGray: hsl(0, 0%, 51%);
    $DarkishGray: hsl(0, 0%, 91%);
    $VeryLightGray: hsl(0, 0%, 96%);
    $DarkCharcoal: hsl(0, 0%, 12%);
    $Black: hsl(0, 0%, 2%);
    $White: hsl(0, 0%, 100%);

  // media query

  $small-screen: 395px;