@import '../../variables/variables.scss';

.container {
  .audio {
    height: 5rem;
    span {
      height: 100%;
      p {
        font-size: 1.5rem;
        color: $DarkPurple;
      }
    }
    button {
      width: 4rem;
      height: 4rem;
      border: none;
      border-radius: 50%;
      background: $LightPurple;
      #audio {
        font-size: 1.25rem;
        color: $DarkPurple;
      }
    }
  }
}