@import './variables/variables.scss';

.main-dictionary-container {
  width: 50%;
  margin: 0 auto;
  @media (max-width: $small-screen) {
    width: 100%;
    padding: 1rem;
  }
  form {
    position: relative;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    input {
      width: 100%;
      padding: 1rem;
      border-radius: 1rem;
      border: none;
      font-weight: bold;
      background: $VeryLightGray;
      &:focus {
        outline: 1px solid $DarkPurple;
      }
    }
    .field-dark {
      color: $White;
      background: $DarkCharcoal;
      &::placeholder {
        color: white;
      }
    }
    span {
      position: absolute;
      color: $DarkRed;
      top: 4rem;
    }
    #search-icon {
      position: absolute;
      right: 2rem;
      font-size: 1.35rem;
      color: $DarkPurple;
    }
  }
}
